.nav {
  position: fixed;
  width: 100%;
  top: 0;
  background: url("../assets/code.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.6s;
  z-index: 9999;
}

.nav.shrink {
  transition: 0.6s;
  box-shadow: #00000080 0.75em 0.75em 1.4em;
}

.nav::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-color: #00000000;
  transition: 0.6s;
}

.nav.shrink::before {
  background-color: #00000090;
}

.nav .nav-title {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  font-size: 200%;
  box-sizing: border-box;

  transition: 0.6s;
}

.nav.shrink .nav-title {
  padding: 0;
  width: 20%;
  font-size: 150%;
  transform: translateY(1.0125rem);
}

.nav .nav-items {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  background-color: #00000072;
  float: right;
  transition: 0.6s;
}

.nav.shrink .nav-items {
  width: 100%;
  top: 0px;
  background-color: #00000000;
}

.nav .nav-items .nav-item {
  font-size: 125%;
  padding: 0.75rem 3rem;
  background-color: #4d4d4d72;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  transition: 0.6s;
}

.nav.shrink .nav-item {
  font-size: 100%;
  padding: 0.5rem 2.75rem;
  transform: translateY(-0.675rem);
  background-color: #4d4d4d00;
}

.nav .nav-items .nav-item.active {
  background-color: #9F9F9F72;
  cursor: default !important;
}

.nav .nav-items .nav-item.disabled {
  filter: brightness(0.6);
  cursor: not-allowed !important;
}

.nav .nav-items .nav-item.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1em;
  left: 0;
  bottom: 0;
  background: #ffffff99;
  transform: scale(0);
  transition: 0.6s;
}

.nav.shrink .nav-items .nav-item.active {
  background-color: #9F9F9F00;
}

.nav.shrink .nav-items .nav-item.active::before {
  transform: scale(1);
  transition: 0.6s;
  transition-delay: 0.4s;
}

.nav .nav-items .nav-item:hover {
  background: #63636372 !important;
  cursor: pointer;
}

.nav .nav-items .nav-item:not(.active):not(.disabled)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1em;
  left: 0;
  bottom: 0;
  background: #d7d7d7e0;
  transform: scaleX(0);
  transition: 0.4s;
}

.nav .nav-items .nav-item:not(.active):hover::before {
  transform: scaleX(1);
}


/* RWD Stuff */

@media screen and (max-width: 800px) {
  .nav::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-color: #00000090;
    transition: 0.6s;
    z-index: -1;
  }

  .nav .nav-title {
    width: 100%;
    text-align: left;
    padding: 1rem 1rem;
    font-size: 150%;
  }

  .nav .nav-items {
    transform-origin: top;
    z-index: -1;
    transform: scaleY(0);
    height: 0px;
    transition: 0.2s;
  }

  .nav .nav-items.show {
    transform: scaleY(1);
  }

  .nav .nav-items .nav-item {
    display: block;
    background-color: #4d4d4d;
  }

  .nav .nav-items .nav-item.active {
    background-color: #696969;
  }

  .nav-menu-button {
    --bar-width: 1.5em;
    --bar-height: 0.15em;
    float: right;
  }

  .nav-menu-button,
  .nav-menu-button::before,
  .nav-menu-button::after {
    background-color: #d7d7d7e0;
    width: var(--bar-width);
    height: var(--bar-height);
    transition: 0.6s;
    cursor: pointer;
  }

  .nav-menu-button::before,
  .nav-menu-button::after {
    content: "";
    display: block;
  }

  .nav-menu-button::before {
    transform: translateY(0.5em);
    transition: 0.2s;
  }

  .nav-menu-button::after {
    transform: translateY(0.9em);
  }

  .nav-menu-button.show {
    transform: translateY(0.75em) rotateZ(45deg);
  }

  .nav-menu-button.show::before {
    transform: translateY(0.5em);
    opacity: 0;
  }

  .nav-menu-button.show::after {
    transform: translateY(-0.15em) rotateZ(-90deg);
  }

}