.about-text, 
.about-img{
  display: inline-block;
  vertical-align: top;
}

.about-text{
  height: 100%;
  width: calc(60% - .5em);
}

.about-img{
  height: 100%;
  width: calc(40% - .5em);
  text-align: center;
}

.about-img img{
  max-width: 90%;
}

.my-name{
  color: #aaa;
}

.my-name .small{
  font-size: 90%;
  color: #aaa;
}

.my-name .name{
  font-size: 125%;
  margin-bottom: 0.2em;
}

.paragraph{
  margin: 1em 0;
}

.paragraph .paragraph-title{
  font-size: 110%;
  border-bottom: #ffffff70 1px solid;
}

.paragraph p{
  margin: 0.5em .25em;
  line-height: 1.25;
}

.paragraph ul, 
.paragraph li{
  margin: 0;
  padding: 0;
}

.paragraph li{
  list-style-type: "> ";
  margin-left: 1.5em;
}
