
.post{
  width: 50%;
  background: #333;
  margin: 0 auto;
  margin-top: 2em;
  box-sizing: border-box;
  padding: 1em;
}

.post > .post-header{
  border-bottom: 0.5px #d7d7d7 solid;
  position: relative;
}

.post > .post-header .title{
  font-size: 200%;
}

.post > .post-header .timestamp{
  position: absolute;
  float: right;
  bottom: 0.5px;
  right: 0;
}

.post .content{
  margin-top: 1.4em;
  padding: 0 0.5em;
}