.post-container{
  display: table;
}

.post-list{
  width: 85%;
  height: 70vh;
  margin: 0 auto;
  margin-top: 2em;
  box-sizing: border-box;
  padding: 1em;
  text-align: center;
  /* border: var(--text-color) 1px solid; */
}

.post-list .post-card{
  display: inline-block;
  position: relative;
  width: 20em;
  height: 15em;
  /* border: var(--text-color) 1px solid; */
  text-align: left;
  transition: .6s;
  margin: 0.5em;
}

.post-list .post-card:hover{
  cursor: pointer;
  filter: brightness(1.5);
  transition: .6s;
}

.post-list .post-card .post-cover{
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: linear-gradient(180deg, #00000000, #000000f0), url('../static/assets/posts/profile.jpg');
  border-radius: .15em;
}

.post-list .post-card .post-title{
  z-index: 1;
  position: absolute;
  bottom: 0;
  padding: .5em .75em;
  font-size: 125%;
}

.pagination{
  text-align: center;
}