*:root{
  --text-color: #fdfdfd;
  --background: #222222;
}

*{
  color: var(--text-color);
  font-family: Helvetica, sans-serif;
}

body{
  top: 0;
  left: 0;
  margin: 0;
  background-color: var(--background);
}

a, 
a:visited{
  text-decoration: none;
}

.container, 
.header{
  width: 100%;
  /* position: absolute; */
  margin-top: 10rem;
  display: block;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.container{
  margin-bottom: 2rem;
}

.container.cover{
  width: 100%;
  height: 100vh;
  margin-bottom: 0px !important;
  display: flex;
  text-align: center;
  align-items: center;
}

.container.cover .title{
  width: 100%;
  font-size: 200%;
}

.banner{
  width: 100%;
  position: fixed;
  text-align: center;
  line-height: 1.5;
  margin-top: 0.25rem;
}

.banner.warn{
  background-color: #c7b300;
  color: #443d00;
}

@media only screen and (max-width: 800px) {
  .container{
    width: 100%;
    /* position: absolute; */
    margin-top: 4rem;
    display: block;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }
}